<!DOCTYPE html>
<html>
  <head>
    <title>MeronShiffon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% unless controller.controller_name == "sessions" || controller.controller_name == "registrations"%>
    <%= render "shared/navbar"%>
  <%end%>
    <main class="w-full mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
